*{
    padding:0;
    margin:10;
}
body{
    background-color: rgb(0, 190, 243);
    margin: 0rem;
    padding:5rem;
    
}
h1{
    text-align: center;
}

.starbadge{
    background-color: blueviolet;
   margin: 5px;
   padding:5px;
    border-radius: 10px;
    color: white;
}